<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headFrag :: head"></head>
<nav th:replace="fragments/navFrag :: nav"></nav>
    <body>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/home/sproutling.jpg" class="d-block w-100 h-75" alt="...">
                <div class="carousel-caption">
                        <h1 class="display-3 font-weight-bolder">Add Some Green To Your Day!</h1>
                        <h3>Discover a world of foliage</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/home/sunflowers.jpeg" class="d-block w-100 h-75" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-3 font-weight-bolder">Create and Customize Your Garden</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/home/garden.jpg" class="d-block w-100 h-75" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-3 font-weight-bolder">Discover New Foliage!</h1>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="fragments/footerFrag :: footer"></footer>
    </body>
</html>