<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headFrag :: head"></head>
<nav th:replace="fragments/navFrag :: nav"></nav>
<body>
<h1>Welcome to the search page</h1>

<!--Relies on api to grab plants-->

<!--<form action="/searchPlant" method="POST">-->
<!--    <input type="text" name="nameOfPlant">-->
<!--    <input type="radio" name="color">-->
<!--    <input type="radio" name="edible">-->
<!--    <input type="submit" name="search">-->
<!--</form>-->


<footer th:replace="fragments/footerFrag :: footer"></footer>
</body>
</html>