<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headFrag :: head"></head>
<nav th:replace="fragments/navFrag :: nav"></nav>

    <body>
    <!--    re-tooled login styling from this source -->
    <!--    https://startbootstrap.com/snippets/login/ -->
    <div id=loginContainer class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign Up</h5>
                        <form class="form-signin" action="/signup" method="post">

                            <div class="form-label-group">
                                <input type="text" id="inputUsername" class="form-control" placeholder="username" name="username" required autofocus>
                                <label for="inputUsername">username</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="username" name="password" required autofocus>
                                <label for="inputPassword">password</label>
                            </div>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
<!--                                FOR FUTURE SIGN IN WITH GOOGLE / FB FUNCTIONALITY -->
<!--                                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>-->
<!--                                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footerFrag :: footer"></footer>
    </body>
</html>