<footer>
<!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <!-- Footer -->
        <footer th:fragment="footer" class="page-footer font-small blue pt-4">
            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase">Sign up for more content</h5>
                        <p>Enter your email below to get our newsletter each week!</p>
                        <form>
                            <input type="text" name="email" placeholder="example@gmail.com">
                            <input type="submit" name="submit">
                        </form>

                    </div>
                    <!-- Grid column -->

<!--                    <hr class="clearfix w-100 d-md-none pb-3">-->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Company</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">About</a>
                            </li>
                            <li>
                                <a href="#!">Careers</a>
                            </li>
                            <li>
                                <a href="#!">FAQ</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Support</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!"></a>
                            </li>
                            <li>
                                <a href="#!">Contact Us</a>
                            </li>
                            <li>
                                <a href="#!">Live Chat</a>
                            </li>
                            <li>
                                <a href="#!">Pro plant tips</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Follow</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!"></a>
                            </li>
                            <li>
                                <a href="#!">Facebook</a>
                            </li>
                            <li>
                                <a href="#!">Twitter</a>
                            </li>
                            <li>
                                <a href="#!">Insta</a>
                            </li>
                            <li>
                                <a href="#!">Pinterest</a>
                            </li>
                        </ul>

                    </div>


                </div>
                <!-- Grid row -->

            </div>

            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://github.com/team-water-401d8/plantapp"> Team Water</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->