<footer>
<!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <!-- Footer -->
        <footer th:fragment="footer" class="page-footer font-small blue pt-4">
            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-3 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase">Sign up for more content</h5>
                        <p>Enter your email below to get our newsletter each week!</p>
                        <form>
                            <input type="text" name="email" placeholder="example@gmail.com">
                            <input type="submit" name="submit">
                        </form>

                    </div>
                    <!-- Grid column -->

<!--                    <hr class="clearfix w-100 d-md-none pb-3">-->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Company</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">About</a>
                            </li>
                            <li>
                                <a href="#!">Careers</a>
                            </li>
                            <li>
                                <a href="#!">FAQ</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Support</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!"></a>
                            </li>
                            <li>
                                <a href="#!">Contact Us</a>
                            </li>
                            <li>
                                <a href="#!">Live Chat</a>
                            </li>
                            <li>
                                <a href="#!">Pro plant tips</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Follow</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!"></a>
                            </li>
                            <li>
                                <a href="#!">Facebook</a>
                            </li>
                            <li>
                                <a href="#!">Twitter</a>
                            </li>
                            <li>
                                <a href="#!">Insta</a>
                            </li>
                            <li>
                                <a href="#!">Pinterest</a>
                            </li>
                        </ul>

                    </div>


                </div>
                <!-- Grid row -->

            </div>

            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://github.com/team-water-401d8/plantapp"> Team Water</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->