<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headFrag :: head"></head>
<nav th:replace="fragments/navFrag :: nav"></nav>
<body>
<h1>hello, this is about page</h1>






<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-4">
            <h1>Image would go here</h1>
            <p>Chandler</p>
        </div>
        <div class="col-lg-4">
            <h2>About you information would go here</h2>
            <p>Chandler's info</p>
        </div>
        <div class="col-lg-4">
            <h2>Favorite plant info goes here</h2>
            <p>Plant</p>
        </div>
    </div>
</div>

<!--<div class="container">-->
<!--    <div class="row align-items-start">-->
<!--        <div class="col-lg-4">-->
<!--            <h1>Image would go here</h1>-->
<!--            <p>Peyton</p>-->
<!--        </div>-->
<!--        <div class="col-lg-4">-->
<!--            <h2>About you information would go here</h2>-->
<!--            <p>Peyton's info</p>-->
<!--        </div>-->
<!--        <div class="col-lg-4">-->
<!--            <h2>Favorite plant info goes here</h2>-->
<!--            <p>Plant</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <div class="row align-items-start">-->
<!--        <div class="col-lg-4">-->
<!--            <h1>Image would go here</h1>-->
<!--            <p>Mike</p>-->
<!--        </div>-->
<!--        <div class="col-lg-4">-->
<!--            <h2>About you information would go here</h2>-->
<!--            <p>Mike's info</p>-->
<!--        </div>-->
<!--        <div class="col-lg-4">-->
<!--            <h2>Favorite plant info goes here</h2>-->
<!--            <p>Plant</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <div class="row align-items-start">-->
<!--        <div class="col-lg-4">-->
<!--            <h1>Image would go here</h1>-->
<!--            <p>Matthew</p>-->
<!--        </div>-->
<!--        <div class="col-lg-4">-->
<!--            <h2>About you information would go here</h2>-->
<!--            <p>Matthew's info</p>-->
<!--        </div>-->
<!--        <div class="col-lg-4">-->
<!--            <h2>Favorite plant info goes here</h2>-->
<!--            <p>Plant</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<footer th:replace="fragments/footerFrag :: footer"></footer>
</body>
</html>