<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headFrag :: head"></head>
<nav th:replace="fragments/navFrag :: nav"></nav>
<body style="background-color:#f7e7ce">
    <div class="jumbotron">
        <h1 class="display-4">About the Devs</h1>
        <p class="lead">Learn about the developers behind Plants-R-Us</p>
        <hr class="my-4">
        <p>Our vision for the app a project that provides users with meaningful, useful plant data from Trefle API. Our user might be a casual gardener, or someone looking to grow edible crops in their yard, or an expert looking to fill a niche. We plan to implement user profiles so that our users can share their "gardens" with others who are passionate and interested in the plant world. This solves various pain points -- plant data can be organized by returning only plants that meet criteria for growing conditions, tailoring your search results to your local climate. It will also help gardeners to solve aesthetic pain points. "I have a space in my garden; I need a plant that flowers at a certain time and is a specific height and color to match my garden's theme". Our app wil be responsively designed so that is equally functional and enjoyable to use across devices.</p>
    </div>

    <div class="container" style="height: 2000px">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-4">
                    <h2>Chandler Puckett</h2>
                    <img src="images/about/chandler.jpg" alt="chandler" class="img-thumbnail">
                </div>
                <div class="col-lg-4">
                    <h2>Bio</h2>
                    <p>Chandler is a software developer exploring the intersection of creativity / technology to develop applications that strive to push humanity forward,
                        hopefully creating a more equal society & environmentally conscious future for all.</p>
                </div>
                <div class="col-lg-4">
                    <h2>Favorite plant</h2>
                    <p>plant stuff</p>
                </div>
            </div>
            <hr class="my-4">
        </div>

        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-4">
                    <h2>Peyton</h2>
                    <img src="https://via.placeholder.com/400" alt="peyton" class="img-thumbnail">
                </div>
                <div class="col-lg-4">
                    <h2>Bio</h2>
                    <p>Peyton's info</p>
                </div>
                <div class="col-lg-4">
                    <h2>Favorite Plant</h2>
                    <p>Plant</p>
                </div>
            </div>
            <hr class="my-4">
        </div>

        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-4">
                    <h2>Mike Wohl</h2>
                    <img src="https://via.placeholder.com/400" alt="mike" class="img-thumbnail">
                </div>
                <div class="col-lg-4">
                    <h2>Bio</h2>
                    <p>My name is Mike Wohl, and I'm arriving at software development from a wide-ranging background in many fields.
                        I have previous experience in music, archaeology, sales, public libraries, technical communication, customer service and support.
                        I'm looking forward to the opportunity to develop new skills in the field of technology, and to seeing what doors those skills open.</p>
                </div>
                <div class="col-lg-4">
                    <h2>Favorite Plant</h2>
                    <p>plant stuff</p>
                </div>
            </div>
            <hr class="my-4">
        </div>

        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-4">
                    <h2>Matthew Petersen</h2>
                    <img src="images/about/mattPic.jpg" alt="matt" class="img-thumbnail">
                </div>
                <div class="col-lg-4">
                    <h2>Bio</h2>
                    <p>Hello, I’m Matthew Petersen, I’m a Full Stack Software Developer with a specialization in Java. Prior to software development I served in the U.S Navy as military police. After my contract was over I struggled to find a fulfilling career that I enjoyed. I decided to pursue coding because I knew Seattle has a growing tech market and I met with multiple developers who enjoyed their careers.</p>
                </div>
                <div class="col-lg-4">
                    <h2>Favorite Plant</h2>
                    <p>plant stuff</p>
                </div>
            </div>
            <hr class="my-4">
        </div>
    </div>

    <footer th:replace="fragments/footerFrag :: footer"></footer>
</body>
</html>