<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments/headFrag :: head"></head>
</head>
<nav th:replace="fragments/navFrag :: nav"></nav>
<body style="background-color:#f7e7ce">
    <img th:src="${plant.image_url}" th:alt="${plant.commonName}">
    <h1>Details:</h1>

    <h2 th:text="'Common Name: '+${plant.commonName}"></h2>
    <h2 th:text="'Scientific Name: '+${plant.scientificName}"></h2>

    <h2 th:if="${plant.isPlantEdible}" text="This plant is has edible parts:"></h2>
    <h2 th:unless="${plant.isPlantEdible}" text="This plant is not edible."></h2>
    <ul th:if="${plant.isPlantEdible}">

        <li th:each ="part : ${plant.ediblePart}" th:text="${part}"></li>
    </ul>

    <div id="additionalImageContainer" th:if="${
        plant.images.flower.length > 0 ||
        plant.images.leaf.length > 0 ||
        plant.images.habit.length > 0 ||
        plant.images.fruit.length > 0 ||
        plant.images.bark.length > 0 ||
        plant.images.other.length > 0
    }">
        <h1 id="additional_images">Additional Images</h1>
        <ul th:if = "${plant.images.flower.length > 0}">
            <h3 style="cursor: pointer">Flower(s):</h3>
            <img th:each = "flower : ${plant.images.flower}" th:src="${flower.image_url}" style="max-height: 200px; display: none"/>
        </ul>

        <ul th:if = "${plant.images.leaf.length > 0}">
            <h3 style="cursor: pointer">Leaf(s):</h3>
            <img th:each = "leaf : ${plant.images.leaf}" th:src="${leaf.image_url}" style="max-height: 200px; display: none"/>
        </ul>

        <ul th:if = "${plant.images.habit.length > 0}">
            <h3 style="cursor: pointer">Habit(s):</h3>
            <img th:each = "habit : ${plant.images.habit}" th:src="${habit.image_url}" style="max-height: 200px; display: none"/>
        </ul>

        <ul th:if = "${plant.images.fruit.length > 0}">
            <h3 style="cursor: pointer">Fruit(s):</h3>
            <img th:each = "fruit : ${plant.images.fruit}" th:src="${fruit.image_url}" style="max-height: 200px; display: none"/>
        </ul>

        <ul th:if = "${plant.images.bark.length > 0}">
            <h3 style="cursor: pointer">Bark:</h3>
            <img th:each = "bark : ${plant.images.bark}" th:src="${bark.image_url}" style="max-height: 200px; display: none"/>
        </ul>

        <ul th:if = "${plant.images.other.length > 0}">
            <h3 style="cursor: pointer">Miscellaneous:</h3>
            <img th:each = "other : ${plant.images.other}" th:src="${other.image_url}" style="max-height: 200px; display: none"/>
        </ul>
    </div>

</body>

<footer th:replace="fragments/footerFrag :: footer"></footer>
<script src="/public/detail.js"></script>
</body>
</html>