<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headFrag :: head"></head>
<nav th:replace="fragments/navFrag :: nav"></nav>
<body style="background-color:#f7e7ce">
<hr>
<hr>
<hr>


    <div class="jumbotron">
        <!--User personal information displayed-->
        <section th:if="${user}" th:each="user : ${user}">
            <h1 th:text="${user.getUsername()}" class="display-3"></h1>
            <p class="lead">User Profile</p>
            <hr class="my-4">
        </section>
        <hr>

        <h3>Following: </h3>
        <div th:each="follow : ${user.getFollowing()}">
            <a th:href="'/user/' + ${follow.getUsername()}" th:text="${follow.getUsername()}"></a>
        </div>

    </div>

    <!--TODO: Allow the user to modify their information + add avatar/image-->

    <!--Follow and unfollow form-->
    <form th:if="${user.getUsername()} != ${principal.getName()}" action="/follow" method="POST">
        <input type="hidden" name="id" th:value="${user.id}">
        <input type="submit" th:value="'Follow ' + ${user.getUsername()}">
    </form>
    <form th:if="${user.getUsername()} != ${principal.getName()} " action="/unfollow" method="POST">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <input type="submit" th:value="'Stop following ' + ${user.getUsername()}">
    </form>

<!--View people currently following-->

<!--====================TODO: Users can view their garden/plants on the profile page====================-->
<div style="margin:0 auto;">
    <h3 style="text-align:center;">Add a Garden to your profile</h3>
    <form th:if="${user.getUsername()} == ${principal.getName()}" action="/addGarden" method="POST" style="text-align:center;">
        <input type="text" name="gardenName" placeholder="garden name">
        <input type="hidden" name="id" th:value="${user.id}">
        <input type="submit" value="Create garden">
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="card-columns">
            <div th:each="garden : ${gardenMess}" class="card">
                <h3 th:text="${garden.getGardenName()}" class="card-title" style="text-decoration: underline;"></h3>
                <div th:each="plant : ${garden.plantsInGarden}">
                        <img th:if="${plant.getPlantImageUrl()}" th:src="${plant.getPlantImageUrl()}" style="height: 200px; width: 200px;" alt="image">
                    <div class="card-body" >
                        <p th:text="${plant.getPlantCommonName()}"></p>
                        <a class="search-btn btn-secondary btn-md plant-details" th:href="'/detail/' +${plant.plantIdFromApi}">More details</a>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <footer th:replace="fragments/footerFrag :: footer"></footer>
</body>
</html>